@keyframes pulse_effect {
    0% {
        -webkit-box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.9);
        box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.9);
    }

    25% {
        -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.6);
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.6);
    }

    70% {
        -webkit-box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.3);
        box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.3);
    }

    100% {
        -webkit-box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.1);
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1);
    }
}

@keyframes fadeInRight {

    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        -o-transform: none;
        transform: none;
    }
}

@keyframes animationFade {

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        -o-transform: none;
        transform: none;
    }
}

.fade-in {
    visibility: visible;
    animation: fadeIn 1.5s ease-in-out;
}

.fade-in-left {
    visibility: visible;
    animation: fadeInLeft 1.5s ease-in-out;
}

.fade-in-up {
    visibility: visible;
    animation: fadeInUp 1.5s ease-in-out;
}

.fade-in-right {
    visibility: visible;
    animation: fadeInRight 1.5s ease-in-out;
}

.fade-in-down {
    visibility: visible;
    animation: fadeInDown 1.5s ease-in-out;
}



@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes process {
    0% {
        width: 0%;
    }

    100% {
        width: 'processBar.rangeNumber';
    }
}

@keyframes load {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-97px);
        -o-transform: translateY(-97px);
        transform: translateY(-97px);
    }

    15% {
        opacity: 0;
        -webkit-transform: translateY(-97px);
        -o-transform: translateY(-97px);
        transform: translateY(-97px);
    }

    30% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }

    70% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }

    85% {
        opacity: 0;
        -webkit-transform: translateY(97px);
        -o-transform: translateY(97px);
        transform: translateY(97px);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(97px);
        -o-transform: translateY(97px);
        transform: translateY(97px);
    }
}

@-o-keyframes load {
    0% {
        opacity: 0;
        -o-transform: translateY(-97px);
    }

    15% {
        opacity: 0;
        -o-transform: translateY(-97px);
    }

    30% {
        opacity: 1;
        -o-transform: translateY(0);
    }

    70% {
        opacity: 1;
        -o-transform: translateY(0);
    }

    85% {
        opacity: 0;
        -o-transform: translateY(97px);
    }

    100% {
        opacity: 0;
        -o-transform: translateY(97px);
    }
}

@-webkit-keyframes load {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-97px);
    }

    15% {
        opacity: 0;
        -webkit-transform: translateY(-97px);
    }

    30% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }

    70% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }

    85% {
        opacity: 0;
        -webkit-transform: translateY(97px);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(97px);
    }
}