body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.3px;
}

::-webkit-scrollbar-track {
  background-color: #e9edf0;
  border-left: 1px solid #ededed;
}

::-webkit-scrollbar {
  width: 7px;
  background-color: #385aef;
}

::-webkit-scrollbar-thumb {
  background: #385aef;
}

html {
  scroll-behavior: smooth;
}

code {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 100%;
  margin: 0 auto;
}

.container-sec {
  max-width: 1140px !important;
  width: 100%;
  margin: 0 auto;
}


button {
  cursor: pointer !important;
}